@{
    ViewBag.Title = "Home Page";
}

<div id="headerwrap" style="background-color: #17120C;">
    <div class="container">
        <div class="row" style="background-color: #70583B; padding-bottom: 3.5em;">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>A world of Wonders is just at your doorstep</h3>
                <h1>An Oddity Commodity</h1>
                <h5>A place to fulfil all your magical needs!</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="~/Content/img/Scroll.jpg" class="~/Content/img-responsive" />
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /headerwrap -->
<!-- *****************************************************************************************************************
   SERVICE LOGOS
   ***************************************************************************************************************** -->
<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-diamond"></i>
                <h4>Untold Gems</h4>
                <p>We find the untold gems of this planet we call Earth. In doing so we can bring them straight to your doorstep for a moderate fee of course. Save your time and energy hunting down what could potentially kill you, and let your trained recovery teams take care of getting it for you! We find all kinds of oddities from animalistic lifeforms all the way to time destroying rocks and you can have them too! All you have to do is order them from our website! Laws state that we cant have brick and mortar locations for risk of fire and time warping accidents.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-puzzle-piece"></i>
                <h4>Retina Ready</h4>
                <p>Put together the puzzle pieces of the universe by finding out how to turn a gumball into a dragon with a book of spells, how to travel to a previously unknown realm and potentially never be able to get back, or even how to turn the sun inside out (that will be a good prank on the human race!). The possibilities are endless when reality means nothing! </p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>Quality Theme</h4>
                <p>Become the best at anything without even trying to be good at it! We have oddites for everything - including items that you wear, touch, or eat that will make you not only be able to do that specific thing but you will become the champion of it! Say goodbye to dad being dissappointed in you for failing to excel in football because now you can be good at it and finally make daddy proud.</p>
            </div>
        </div>
    </div>
</div>

<!-- *****************************************************************************************************************
   PORTFOLIO SECTION
   ***************************************************************************************************************** -->

<div id="portfoliowrap">
    <h3>Mystery Boxes</h3>
    <div id="papyrus">
        <div class="portfolio-centered">
            <div class="recentitems portfolio">
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="~/Content/img/SC-1.png" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">Dragon Cat</h3>
                                <a data-rel="prettyPhoto" href="~/Content/img/DaCa.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="~/Content/single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div>
                            <!-- he bg -->
                        </div>
                        <!-- he view -->
                    </div>
                    <!-- he wrap -->
                </div>
                <!-- end col-12 -->

                <div class="portfolio-item web-design">
                    <div class="he-wrap tpl6">
                        <img src="~/Content/img/SC-1.png" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">Self Eating Snail</h3>
                                <a data-rel="prettyPhoto" href="~/Content/img/snail.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="~/Content/single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div>
                            <!-- he bg -->
                        </div>
                        <!-- he view -->
                    </div>
                    <!-- he wrap -->
                </div>
                <!-- end col-12 -->

                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="~/Content/img/SC-1.png" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">Book of Magic</h3>
                                <a data-rel="prettyPhoto" href="~/Content/img/book.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="~/Content/single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div>
                            <!-- he bg -->
                        </div>
                        <!-- he view -->
                    </div>
                    <!-- he wrap -->
                </div>
                <!-- end col-12 -->

                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="~/Content/img/SC-1.png" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">World in a Box</h3>
                                <a data-rel="prettyPhoto" href="~/Content/img/planet.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="~/Content/single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div>
                            <!-- he bg -->
                        </div>
                        <!-- he view -->
                    </div>
                    <!-- he wrap -->
                </div>
                <!-- end col-12 -->

                <div class="portfolio-item books">
                    <div class="he-wrap tpl6">
                        <img src="~/Content/img/SC-1.png" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">Voodoo Torture Dolls</h3>
                                <a data-rel="prettyPhoto" href="~/Content/img/Voodoo doll.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="~/Content/single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div>
                            <!-- he bg -->
                        </div>
                        <!-- he view -->
                    </div>
                    <!-- he wrap -->
                </div>
                <!-- end col-12 -->

                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="~/Content/img/SC-1.png" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
                                <a data-rel="prettyPhoto" href="~/Content/img/portfolio/portfolio_06.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="~/Content/single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div>
                            <!-- he bg -->
                        </div>
                        <!-- he view -->
                    </div>
                    <!-- he wrap -->
                </div>
                <!-- end col-12 -->

                <div class="portfolio-item books">
                    <div class="he-wrap tpl6">
                        <img src="~/Content/img/SC-1.png" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Book Design Item</h3>
                                <a data-rel="prettyPhoto" href="~/Content/img/portfolio/portfolio_07.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="~/Content/single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div>
                            <!-- he bg -->
                        </div>
                        <!-- he view -->
                    </div>
                    <!-- he wrap -->
                </div>
                <!-- end col-12 -->

                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="~/Content/img/SC-1.png" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
                                <a data-rel="prettyPhoto" href="~/Content/img/portfolio/portfolio_08.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="~/Content/single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div>
                            <!-- he bg -->
                        </div>
                        <!-- he view -->
                    </div>
                    <!-- he wrap -->
                </div>
                <!-- end col-12 -->

                <div class="portfolio-item web-design">
                    <div class="he-wrap tpl6">
                        <img src="~/Content/img/SC-1.png" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Web Design Item</h3>
                                <a data-rel="prettyPhoto" href="~/Content/img/portfolio/portfolio_01.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="~/Content/single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div>
                            <!-- he bg -->
                        </div>
                        <!-- he view -->
                    </div>
                    <!-- he wrap -->
                </div>
                <!-- end col-12 -->

                <div class="portfolio-item books">
                    <div class="he-wrap tpl6">
                        <img src="~/Content/img/SC-1.png" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Book Design Item</h3>
                                <a data-rel="prettyPhoto" href="~/Content/img/portfolio/portfolio_10.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="~/Content/single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div>
                            <!-- he bg -->
                        </div>
                        <!-- he view -->
                    </div>
                    <!-- he wrap -->
                </div>
                <!-- end col-12 -->

            </div>
            <!-- portfolio -->
        </div>
        <!-- portfolio container -->
    </div>
</div>
<!--/Portfoliowrap -->
<!-- *****************************************************************************************************************
   MIDDLE CONTENT
   ***************************************************************************************************************** -->

<div class="container mtb" style="text-align:center; padding-left: 20px;">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h4>More About How We Get Our Oddities.</h4>
            <p>
                We have a rich in culture trade deal with many of the countries around the world. Because of this we are allowed to freely go and come as we please looking into various oddities they find. Once they have been reseached we are allowed to sell these oddities for a profit. We are very proud of our relations with the nations we work with for how long we have them and our deal alive. They have survived not only five centuries, but also the leap into the electronic era, remaining essentially unchanged.
            </p>
            <p>
                @Html.ActionLink("More Info", "About", "Home", null, new { @class = "btn btn-warning" })
            </p>
        </div>
    </div>
</div>
@* 
    








<a href="storefront.yourdomain.com" target="_blank">Text Here</a> -- Link to storefront











*@

<!-- *****************************************************************************************************************
   TESTIMONIALS
   ***************************************************************************************************************** -->
<div id="twrap">
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <i class="fa fa-comment-o"></i>
                <p>
                    We pride ourselves on bring our whacky and whimsical items into your home. Whether it be a world ending book for whne times are hard at work, a voodoo doll for that one neighbor who just wont stop complaining, or maybe a dragon cat for kids who have been dying to get a new pet, theres really nothing you cant find here. And we are happy to sell it to you!
                </p>
                <h4><br />Maggie Boo</h4>
                <p>Company CEO</p>
            </div>
        </div>
    </div>
</div>
